* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide {
	height: auto !important;
}

.single-card {
	max-width: 500px;
	height: 96%;
	width: calc(100% - 3px);
	margin: auto;
	background-color: white;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px,
		rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	border-radius: 5px;
	margin-top: 5px;
	cursor: grab;
}

.single-card:active {
	cursor: grabbing;
}

.single-card h3 {
	margin-top: 10px;
}

.single-card img {
	width: 100%;
	height: 215px;
	object-fit: cover;
}

.single-card .des {
	margin: 10px 0px 10px 0px;
}

.single-card .date-time {
	font-size: 14px;
	color: rgb(172, 172, 172);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 25px !important;
}

.pagination-style {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-bottom: 20px;
}

.pagination-container {
	padding: 7px 20px 0px 20px;
}

.pagination-style li {
	border: 1px solid black;
	border-right: 0px;
}
.pagination-style .next {
	border-right: 1px solid black;
}

.pagination-style li a {
	padding: 7px 10px;
	cursor: pointer;
	display: inline-block;
	user-select: none;
}

.pagination-style .selected a {
	color: rgb(240, 40, 137);
}

.pagination-style .disabled a {
	cursor: not-allowed;
	color: gray;
}

.pagination-style .disabled a:focus {
	box-shadow: none;
	outline: transparent;
}

.pagination-container .single-card {
	cursor: auto;
}

nav {
	display: flex;
	gap: 10px;
	padding: 20px 30px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(226, 226, 226);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

nav .partition {
	display: flex;
	gap: 10px;
}

nav .nav-link {
	text-decoration: none;
}

nav .nav-link.active {
	color: rgb(240, 40, 137);
}

nav .btn {
	padding: 8px 17px;
	background-color: #4bfdfd;
	border-radius: 50px;
	cursor: pointer;
	user-select: none;
}

.container {
	width: 1289px;
	margin: auto;
}

.slider-div {
	padding: 10px 20px;
}

.actions {
	display: flex;
	gap: 10px;
	padding-top: 20px;
}

.actions span {
	cursor: pointer;
	background-color: #50b3b3;
	border-radius: 4px;
	padding: 7px 11px;
	color: white;
}

/* login form and add card form sections */
.p-x {
	padding: 0px 20px 0px 20px;
}

.login-form,
.add-card-form {
	max-width: 500px;
	padding: 20px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px,
		rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 19px;
}

.add-card-form {
	margin: auto;
	margin-top: 20px;
}

.login-form input,
.add-card-form input,
.add-card-form textarea {
	padding: 12px 13px;
	font-size: 16px;
	border: 1px solid rgb(182, 182, 182);
	border-radius: 4px;
}

.add-card-form textarea {
	font-size: 14px;
	resize: vertical;
}

.login-form h1,
.add-card-form h1 {
	margin-bottom: 2px;
	text-transform: uppercase;
	color: rgb(117, 117, 117);
	text-align: center;
}
.login-form button,
.add-card-form button {
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #50b3b3;
	color: aliceblue;
	border-radius: 3px;
	border-color: transparent;
}
.login-form input:active,
.login-form input:focus,
.add-card-form input:active,
.add-card-form input:focus,
.add-card-form textarea:active,
.add-card-form textarea:focus {
	border-color: #50b3b3;
	box-shadow: none;
	outline: none;
}

.login-form button:active,
.login-form button:focus,
.add-card-form button:active,
.add-card-form input:focus {
	border-color: #4fbbc1;
	box-shadow: none;
	outline: none;
}

.form-container {
	display: flex;
	align-items: center;
	height: calc(100vh - 147px);
	justify-content: center;
}

/* validation styles */
.is-invalid {
	border-color: red !important;
}

.invalid-feedback {
	color: red;
	margin-top: -10px;
}

/* loading page */
.loading-page {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
